<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>
</head>
<body>

    <div th:replace="common/header.html"></div>

    <h3>신규 메뉴 등록</h3>

    <form action="/menu/regist" method="post">
        <label>메뉴명 : </label><input type="text" name="menuName"><br>
        <label>메뉴가격 : </label><input type="number" name="menuPrice"><br>
        <label>카테고리 코드 : </label>
        <select name="categoryCode" id="categoryCode"></select><br>
        <label>판매 상태 : </label>
        <select name="orderableStatus">
            <option>Y</option>
            <option>N</option>
        </select><br>
        <input type="submit">
    </form>

    <script>
        fetch('/menu/category').then(res => res.json()).then(data => {
            console.log(data);

            const $categoryCode = document.querySelector("#categoryCode");

            data.forEach(category => {
                const $option = document.createElement('option');
                $option.textContent = category.categoryName;
                $option.value = category.categoryCode;
                $categoryCode.appendChild($option);
            })

        })
    </script>







</body>
</html>