<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>memberlist</title>
    <script>
        const successMessage = '[[${successMessage}]]';
        if(successMessage) alert(successMessage);
    </script>
</head>
<body>
<div th:include="common/header.html"></div>
<table>
    <tr>
        <th>자동차코드</th>
        <th>자동차회사</th>
        <th>자동차이름</th>
        <th>자동차번호</th>
    </tr>
    <tr th:each="car : ${carList}">
        <td th:text="${car.carCode}"></td>
        <td th:text="${car.carCompany}"></td>
        <td th:text="${car.carName}"></td>
        <td th:text="${car.carNumber}"></td>

    </tr>
</table>
</body>
</html>